@import '../../node_modules/stylus-px2rem'

html-font-size = 25px

/*
*全局颜色设置
*
*/
font-color-yellow = #ff9616
font-color-red = #db5252
font-color-green = #68ad56
font-color-darkblack = #333
font-color-black = #3f3f3f
font-color-lightblack = #838383
font-color-lightgray = #eee
font-color-gray = #ccc

/***********************/

box-shadow()
  box-shadow 0 1px 3px 0 rgba(0,0,0,0.08)
  
.clearfix:before
.clearfix:after
  content ''
  display table
.clearfix:after
  clear: both

.pull-left
  float left
.pull-right
  float right
