@import '../../node_modules/stylus-px2rem'

html-font-size = 25px


*
  box-sizing border-box


ul
  margin 0
  padding 0
  list-style none

img
  vertical-align middle
  border 0 none

html
body
  height 100%
  background-color #EDF2F8
  font-family 'pingfang'
  color #666

a
  color #666
  text-decoration none
  
.clearfix:before
.clearfix:after
  content ''
  display table
.clearfix:after
  clear: both

.pull-left
  float left
.pull-right
  float right

/* mint上拉加载组件指示箭头旋转 */
.mint-loadmore-bottom .rotate
  display: inline-block;
  transform: rotate(180deg);
  transition: all .3s ease;
  
.picker-slot
  font-size: 28px;