@import '../../node_modules/stylus-px2rem'

html-font-size = 25px


*
  box-sizing border-box


ul
  margin 0
  padding 0
  list-style none

img
  vertical-align middle
  border 0 none

html
body
  height 100%
  /*background: radial-gradient(rgba(254, 254, 254, 0.5) 10%, rgba(0, 0, 0, 0) 5%) 0 0, radial-gradient(rgba(254, 254, 254, 0.5) 10%, rgba(0, 0, 0, 0) 5%) 0.5em 0.5em;*/
  background-color #EDF2F8
  /*background-size: 1em 1em;*/
  font-family 'pingfang'
  color #666
  -webkit-touch-callout none !important
a
  color #666
  text-decoration none
  
.clearfix:before
.clearfix:after
  content ''
  display table
.clearfix:after
  clear: both

.pull-left
  float left
.pull-right
  float right

/* mint上拉加载组件指示箭头旋转 */
.mint-loadmore-bottom .rotate
  display: inline-block;
  transform: rotate(180deg);
  transition: all .3s ease;
  
.picker-slot
  font-size: 28px;

.notice-bar-narrow
  padding 6px 20px
  padding-right: 60px;
  background-color: #e4e4e4;
  .van-notice-bar__left-icon
    padding-right 5px
    line-height 1
  .van-icon-close
    top 6px
    
.list .mint-cell-wrapper
  background-image: none;
.notice-item  .mint-cell-swipe-button,
.list .mint-cell-swipe-button
  display: flex;
  align-items: center;